<header class="cabecalhoPrincipal">
  <div class="conteudoCabecalhoPrincipal">
    <div class="logoCabecalho">
      <img
        src="assets/imagens/logoHorizontal.svg"
        alt="Logo Horizontal"
        (click)="irParaHome()"
      />
    </div>

    <div class="barraPesquisa">
      <div class="iconePesquisa">
        <img src="assets/imagens/lupa.svg" alt="Icone lupa" />
      </div>

      <input
        type="text"
        placeholder="Pesquisar"
        [(ngModel)]="termoPesquisado"
        (keyup)="pesquisarUsuario()"
      />
    </div>
  </div>

  <div class="containeResultadoPesquisa" *ngIf="resultadoDaPesquisa.length">
    <div
      class="resultado"
      *ngFor="let usuario of resultadoDaPesquisa"
      (click)="irParaPerfilDoUsuario(usuario._id)"
    >
      <app-avatar [src]="usuario.avatar"></app-avatar>
      <div class="informacoesUsuario">
        <strong>{{ usuario.nome }}</strong>
        <span>{{ usuario.email }}</span>
      </div>
    </div>
  </div>
</header>
