<div class="containerInputPublico">
  <div class="inputPublico">
    <img
      class="iconeInput"
      [src]="imagem"
      alt="Imagem do input"
      width="20"
      height="20"
    />

    <input
      [type]="tipo"
      [placeholder]="placeholder"
      [ngModel]="referenciaFormulario?.value"
      (ngModelChange)="aoModificarCampo($event)">
  </div>

  <p *ngIf="referenciaFormulario?.invalid && referenciaFormulario?.dirty" class="mensagemErro">
    {{obtermensagemErro()}}
  </p>
</div>
