<div class="containerPostagem">
  <a>
    <div class="cabecalhoPostagem">
      <app-avatar
        classeCss="feedDesktop"
        [src]="postagem.usuario?.avatar"
      ></app-avatar>
      <strong>{{ postagem.usuario?.nome }}</strong>
    </div>
  </a>

  <div class="fotoPostagem">
    <img [src]="postagem.foto" alt="Foto do post" />
  </div>

  <div class="rodapePostagem">
    <div class="acoesPostagem">
      <img alt="Icone curtir" />

      <img class="iconeComentario" alt="Icone comentar" />

      <span class="curtidas">
        Curtido por <strong>{{ postagem.quantidadeCurtidas }} pessoas</strong>
      </span>
    </div>

    <div class="descricaoPostagem">
      <strong class="nomeUsuario">
        {{ postagem.usuario?.nome }}
      </strong>

      <p class="descricao">
        {{ postagem.descricao.substring(0, limiteCaracteresDescricao).trim() }}

        <span
          class="tresPontinhos"
          *ngIf="postagem.descricao.length > limiteCaracteresDescricao"
        >
          ...
        </span>

        <span
          *ngIf="postagem.descricao.length > limiteCaracteresDescricao"
          class="exibirMais"
          (click)="exibirDescricaoCompleta()"
        >
          mais
        </span>
      </p>
    </div>

    <div class="comentarios">
      <div class="comentario" *ngFor="let comentario of postagem.comentarios">
        <strong class="nomeUsuario">
          {{ comentario.nome }}
        </strong>

        <p class="descricao">
          {{ comentario.comentario }}
        </p>
      </div>
    </div>
  </div>
</div>
